# PARTE 11: MANEJO DE BASE DE DATOS

## PARTE 11.1: CONEXIÓN A BASE DE DATOS

In [1]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.2: CREACIÓN DE TABLA

In [4]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
CREATE TABLE PERSONA(
    NOMBRE varchar(100),
    APELLIDO varchar(100),
    EDAD int,
    EC char(1)
)""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.3: INSERCIÓN DE 1 REGISTRO EN LA TABLA

In [8]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
INSERT INTO PERSONA VALUES ("JUAN","MENDOZA",21,"S")
""")

CURSOR.execute("""
INSERT INTO PERSONA VALUES ("NORMA","TINCO",95,"C")
""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.4: INSERCIÓN DE VARIOS REGISTROS EN LA TABLA

In [10]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

REGISTROS = [
    ("ENRIQUE","PALACIOS",50,"C"),
    ("MANUEL","JIMENEZ",40,"S"),
    ("ANTONIO","PALOMINO",30,"S"),
    ("ESTEBAN","SIMÓN",20,"C")
]

#COMANDO DE CREACIÓN DE TABLA
CURSOR.executemany("INSERT INTO PERSONA VALUES (?,?,?,?)",REGISTROS)

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.5: CONSULTA DE 1 REGISTRO DE LA TABLA

#### CONSULTA DE TODAS LAS COLUMNAS

In [41]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
""")

In [43]:
REG = CURSOR.fetchone()

In [44]:
print(REG[0])
print(REG[1])
print(REG[2])
print(REG[3])

RICARDO
MORALES
75
C

#### CONSULTA DE ALGUNAS COLUMNAS

In [45]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT NOMBRE,EDAD FROM PERSONA
""")

In [46]:
REG = CURSOR.fetchone()

In [49]:
print(REG[0])
print(REG[1])

BENJI
27

In [36]:
#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.6: CONSULTA DE VARIOS REGISTROS DE LA TABLA

#### CONSULTA DE TODAS LAS COLUMNAS

In [69]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
""")

In [70]:
REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X[0])
    print(X[1])
    print(X[2])
    print(X[3])

--------
BENJI
NEIRA
27
S
--------
RICARDO
MORALES
75
C
--------
JUAN
MENDOZA
21
S
--------
NORMA
TINCO
95
C
--------
ENRIQUE
PALACIOS
50
C
--------
MANUEL
JIMENEZ
40
S
--------
ANTONIO
PALOMINO
30
S
--------
ESTEBAN
SIMÓN
20
C

#### CONSULTA DE ALGUNAS COLUMNAS

In [71]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT NOMBRE, EDAD FROM PERSONA
""")

In [72]:
REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X[0])
    print(X[1])

--------
BENJI
27
--------
RICARDO
75
--------
JUAN
21
--------
NORMA
95
--------
ENRIQUE
50
--------
MANUEL
40
--------
ANTONIO
30
--------
ESTEBAN
20

#### CONSULTA DE ALGUNAS FILAS

In [73]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA LIMIT 5
""")

In [74]:
REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X[0])
    print(X[1])
    print(X[2])
    print(X[3])

--------
BENJI
NEIRA
27
S
--------
RICARDO
MORALES
75
C
--------
JUAN
MENDOZA
21
S
--------
NORMA
TINCO
95
C
--------
ENRIQUE
PALACIOS
50
C

## PARTE 11.7: CREACIÓN DE TABLA CON PRIMARY KEY (PK)

In [1]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
CREATE TABLE PERSONA_PK(
    DNI varchar(8) PRIMARY KEY,
    NOMBRE varchar(100),
    APELLIDO varchar(100),
    EDAD int,
    EC char(1)
)""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

In [3]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

REGISTROS = [
    ("08048171","ENRIQUE","PALACIOS",50,"C"),
    ("08048172","MANUEL","JIMENEZ",40,"S"),
    ("08048173","ANTONIO","PALOMINO",30,"S"),
    ("08048174","ESTEBAN","SIMÓN",20,"C")
]

#COMANDO DE CREACIÓN DE TABLA
CURSOR.executemany("INSERT INTO PERSONA_PK VALUES (?,?,?,?,?)",REGISTROS)

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.8: CREACIÓN DE TABLA CON PRIMARY KEY IDENTITY

In [5]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
CREATE TABLE PERSONA_IDENTITY(
    ID integer PRIMARY KEY AUTOINCREMENT,
    NOMBRE varchar(100),
    APELLIDO varchar(100),
    EDAD integer,
    EC char(1)
)""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

In [7]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

REGISTROS = [
    ("ENRIQUE","PALACIOS",50,"C"),
    ("MANUEL","JIMENEZ",40,"S"),
    ("ANTONIO","PALOMINO",30,"S"),
    ("ESTEBAN","SIMÓN",20,"C")
]

#COMANDO DE CREACIÓN DE TABLA
CURSOR.executemany("INSERT INTO PERSONA_IDENTITY VALUES (NULL,?,?,?,?)",REGISTROS)

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.9: CONSULTA EN BD - SELECT / WHERE

#### CONSULTA DE TODAS LAS FILAS Y COLUMNAS

In [2]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('BENJI', 'NEIRA', 27, 'S')
--------
('RICARDO', 'MORALES', 75, 'C')
--------
('JUAN', 'MENDOZA', 21, 'S')
--------
('NORMA', 'TINCO', 95, 'C')
--------
('ENRIQUE', 'PALACIOS', 50, 'C')
--------
('MANUEL', 'JIMENEZ', 40, 'S')
--------
('ANTONIO', 'PALOMINO', 30, 'S')
--------
('ESTEBAN', 'SIMÓN', 20, 'C')

#### CONSULTA DE TODAS LAS FILAS Y ALGUNAS COLUMNAS

In [3]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT NOMBRE, APELLIDO FROM PERSONA
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('BENJI', 'NEIRA')
--------
('RICARDO', 'MORALES')
--------
('JUAN', 'MENDOZA')
--------
('NORMA', 'TINCO')
--------
('ENRIQUE', 'PALACIOS')
--------
('MANUEL', 'JIMENEZ')
--------
('ANTONIO', 'PALOMINO')
--------
('ESTEBAN', 'SIMÓN')

#### CONSULTA DE ALGUNAS FILAS SIN CONDICIÓN

In [4]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT NOMBRE, APELLIDO FROM PERSONA LIMIT 3
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('BENJI', 'NEIRA')
--------
('RICARDO', 'MORALES')
--------
('JUAN', 'MENDOZA')

#### CONSULTA DE ALGUNAS FILAS CON CONDICIÓN

In [6]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
WHERE EC = "C"
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('RICARDO', 'MORALES', 75, 'C')
--------
('NORMA', 'TINCO', 95, 'C')
--------
('ENRIQUE', 'PALACIOS', 50, 'C')
--------
('ESTEBAN', 'SIMÓN', 20, 'C')

In [7]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
WHERE EDAD > 50
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('RICARDO', 'MORALES', 75, 'C')
--------
('NORMA', 'TINCO', 95, 'C')

In [8]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
WHERE EDAD % 2 = 0
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('ENRIQUE', 'PALACIOS', 50, 'C')
--------
('MANUEL', 'JIMENEZ', 40, 'S')
--------
('ANTONIO', 'PALOMINO', 30, 'S')
--------
('ESTEBAN', 'SIMÓN', 20, 'C')

In [9]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
WHERE NOMBRE LIKE "E%"
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('ENRIQUE', 'PALACIOS', 50, 'C')
--------
('ESTEBAN', 'SIMÓN', 20, 'C')

In [10]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
WHERE NOMBRE LIKE "%O"
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('RICARDO', 'MORALES', 75, 'C')
--------
('ANTONIO', 'PALOMINO', 30, 'S')

In [11]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
SELECT * FROM PERSONA
WHERE NOMBRE LIKE "%N%"
""")

REGS = CURSOR.fetchall()

for X in REGS:
    print("--------")
    print(X)

--------
('BENJI', 'NEIRA', 27, 'S')
--------
('JUAN', 'MENDOZA', 21, 'S')
--------
('NORMA', 'TINCO', 95, 'C')
--------
('ENRIQUE', 'PALACIOS', 50, 'C')
--------
('MANUEL', 'JIMENEZ', 40, 'S')
--------
('ANTONIO', 'PALOMINO', 30, 'S')
--------
('ESTEBAN', 'SIMÓN', 20, 'C')

## PARTE 11.10: MODIFICACIÓN EN BD - UPDATE / WHERE

#### MODIFICACIÓN DE 1 COLUMNA

In [1]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
UPDATE PERSONA
SET NOMBRE = "XYZ"
WHERE NOMBRE LIKE "%O"
""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

#### MODIFICACIÓN DE VARIAS COLUMNAS

In [2]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
UPDATE PERSONA
SET NOMBRE = "--" , APELLIDO = "//"
WHERE EDAD < 50
""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

In [3]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
UPDATE PERSONA
SET NOMBRE = "--" , APELLIDO = "//"
""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

## PARTE 11.11: ELIMINACIÓN EN BD - DELETE / WHERE

In [2]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
DELETE FROM PERSONA
WHERE EC = "S"
""")

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()

In [3]:
#PAQUETE NECESARIO
import sqlite3

#ABRIENDO CONEXIÓN
CONEXION = sqlite3.connect("PYTHON_DS_TOTAL.db")

#INSTALANDO CURSOR
CURSOR = CONEXION.cursor()

#COMANDO DE CREACIÓN DE TABLA
CURSOR.execute("""
DELETE FROM PERSONA
WHERE EDAD >50
""") 

#COMANDO DE COMMITEO
CONEXION.commit()

#CERRANDO CONEXIÓN
CONEXION.close()