# PARTE 4: COLECCIONES DE DATOS

## PARTE 4.1: LISTAS

* Es una colección de datos modificable
* Permite tener elementos repetidos
* Permite almacenar distintos tipos de datos
* Cada elemento se llama item
* Colocar los elementos entre [ ] y separados de por comas

In [1]:
#EJEMPLO DE LISTA
LISTA1 = [3.1415 , 30 , True , "HOLA" , 'CHAU']
print(LISTA1[0])
print(LISTA1[1])
print(LISTA1[2])

#print(LISTA1[10])

print(LISTA1[-1])

3.1415
30
True
CHAU

In [2]:
#COPIA INCORRECTA DE UNA LISTA
LISTA1 = [1,2,3]
LISTA2 = LISTA1

LISTA2.append(4)

print(LISTA1)
print(LISTA2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [3]:
#COPIA CORRECTA DE UNA LISTA
LISTA1 = [1,2,3]
LISTA2 = LISTA1.copy()

LISTA2.append(4)

print(LISTA1)
print(LISTA2)

[1, 2, 3]
[1, 2, 3, 4]

In [4]:
#LISTA AUTOMÁTICA
import numpy

LISTA_AUTO = numpy.arange(30)
LISTA_AUTO

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [5]:
#SUMA DE LISTAS
LISTA1 = [1,2,3]
LISTA2 = [3,4,5,6]
LISTA3 = LISTA1 + LISTA2
LISTA3

[1, 2, 3, 3, 4, 5, 6]

In [6]:
#MODIFICACIÓN DE LISTA
LISTA1 = [1,2,3,4,5,6,7,8]
LISTA1[0] = 10
LISTA1[4:] = [14,15]
#LISTA1[4:] = 17 ERROR
LISTA1

[10, 2, 3, 4, 14, 15]

In [7]:
#CANTIDAD DE ELEMENTOS
LISTA1 = [1,2,3,4,5,6,7,8]
print(len(LISTA1))

8

In [8]:
#LISTA DE LISTAS
LISTA1 = [1,2,3]
LISTA2 = [4,5,6]
LISTA3 = [7,8,9]

LISTA4 = [LISTA1 , LISTA2 , LISTA3]
print(LISTA4)
print(LISTA4[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2

#### FUNCIONES DE LISTAS

In [9]:
#APPEND --> AGREGAR UN ELEMENTO AL FINAL
LISTA1 = [1,2,3]
LISTA1.append(4)
LISTA1

[1, 2, 3, 4]

In [10]:
#POP --> ELIMINAR UN ELEMENTO AL FINAL
LISTA1 = [1,2,3]
LISTA1.pop()
LISTA1

[1, 2]

In [11]:
#CLEAR --> ELIMINAR TODOS LOS ELEMENTOS
LISTA1 = [1,2,3]
LISTA1.clear()
LISTA1

[]

In [12]:
#EXTEND --> AGREGA UNA LISTA AL FINAL
LISTA1 = [1,2,3]
LISTA2 = [4,5,6]

LISTA2.extend(LISTA1)
LISTA2

[4, 5, 6, 1, 2, 3]

In [13]:
#COUNT --> DEVUELVE LA CANTIDAD DE VECES QUE APARECE UN ELEMENTO
LISTA1 = [1,2,3,3,4,3,3,3,3]
LISTA1.count(5)

0

In [14]:
#INDEX --> DEVUELVE EL ÍNDICE DE DETERMINADO ELEMENTO
LISTA2 = [4,5,6]
LISTA2.index(5)

1

In [15]:
#INSERT --> INSERTAR UN ELEMENTO EN POSICIÓN
LISTA2 = [4,5,6,7,8,9]
LISTA2.insert(3,50)
LISTA2

[4, 5, 6, 50, 7, 8, 9]

In [16]:
#POP --> ELIMINAR UN ELEMENTO EN POSICIÓN
LISTA2 = [4,5,6,7,8,9]
LISTA2.pop(3)
LISTA2

[4, 5, 6, 8, 9]

In [17]:
#REMOVE --> ELIMINAR UN ELEMENTO POR VALOR
LISTA2 = [4,5,6,7,8,8,8,8,8,8,9]
LISTA2.remove(8)
LISTA2

[4, 5, 6, 7, 8, 8, 8, 8, 8, 9]

In [18]:
#REVERSE --> REVERTIR UNA LISTA
LISTA2 = [4,5,6,7,8]
LISTA2.reverse()
LISTA2

[8, 7, 6, 5, 4]

In [19]:
#ORDENAR ASCENDENTE UNA LISTA
LISTA2 = [4,5,7,8,6]
LISTA2.sort(reverse=False)
LISTA2

[4, 5, 6, 7, 8]

In [20]:
#ORDENAR DESCENDENTE UNA LISTA
LISTA2 = [4,5,7,8,6]
LISTA2.sort(reverse=True)
LISTA2

[8, 7, 6, 5, 4]

In [21]:
#ORDENAR ASCENDENTE UNA LISTA CON OTROS TIPOS DE DATOS
LISTA2 = [4,5,7,8,6 , 6.5, True,False]
LISTA2.sort(reverse=False)
LISTA2

[False, True, 4, 5, 6, 6.5, 7, 8]

## PARTE 4.2: TUPLAS

* Es una colección de datos inmutable
* Permite tener elementos repetidos
* Permite almacenar distintos tipos de datos
* Cada elemento se llama item
* Colocar los elementos entre ( ) y separados de por comas

In [22]:
#EJEMPLO DE TUPLA
TUPLA1 = (3.1415 , 30 , True , "HOLA" , 'CHAU')
print(TUPLA1[0])
print(TUPLA1[1])
print(TUPLA1[2])

#print(TUPLA1[10])

print(TUPLA1[-1])

3.1415
30
True
CHAU

In [23]:
#CANTIDAD DE ELEMENTOS
TUPLA1 = (1,2,3,4,5,6,7,8)
print(len(TUPLA1))

8

In [24]:
#TUPLA DE TUPLAS
TUPLA1 = (1,2,3)
TUPLA2 = (4,5,6)
TUPLA3 = (7,8,9)

TUPLA4 = (TUPLA1 , TUPLA2 , TUPLA3)
print(TUPLA4)
print(TUPLA4[0][1])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
2

In [25]:
#COUNT --> DEVUELVE LA CANTIDAD DE VECES QUE APARECE UN ELEMENTO
TUPLA1 = (1,2,3,3,4,3,3,3,3)
TUPLA1.count(3)

6

In [26]:
#INDEX --> DEVUELVE EL ÍNDICE DE DETERMINADO ELEMENTO
TUPLA1 = (4,5,6)
TUPLA1.index(5)

1

## PARTE 4.3: CONJUNTOS

* Es una colección de datos que puede modificarse
* No permite tener elementos repetidos
* Permite almacenar distintos tipos de datos
* Cada elemento se llama item
* Colocar los elementos entre { }  y separados de por comas
* Sin importar el orden que se ingresen, se guardan ordenados y sin repetirse

In [27]:
CONJUNTO = {3,6,8,-1,4,4,4,4,4,4,4,4,4,4,4,4,4, True, False, "HOLA" ,"CHAU"}
CONJUNTO

{-1, 3, 4, 6, 8, 'CHAU', False, 'HOLA', True}

#### OPERACIONES DE ELEMENTOS

In [28]:
#ADD --> AGREGAR ELEMENTO AL CONJUNTO
CON1 = {0,3,4,5,6,1}
CON1.add(-10)
CON1

{-10, 0, 1, 3, 4, 5, 6}

In [29]:
#DISCARD --> ELIMINAR ELEMENTO DEL CONJUNTO
CON1 = {0,3,4,5,6,1}
CON1.discard(10)
CON1

{0, 1, 3, 4, 5, 6}

In [30]:
#CLEAR --> ELIMINAR TODOS LOS ELEMENTOS DEL CONJUNTO
CON1 = {0,3,4,5,6,1}
CON1.clear()
CON1

set()

In [31]:
#IN --> VALIDA SI ESTÁ EN EL CONJUNTO
CON1 = {0,3,4,5,6,1}
print(1 in CON1)
print(10 in CON1)

True
False

#### OPERACIONES DE CONJUNTOS

In [32]:
#COPIA INCORRECTA DE UN CONJUNTO
CON1 = {1,2,3}
CON2 = CON1

CON2.clear()

print(CON1)
print(CON2)

set()
set()

In [33]:
#COPIA CORRECTA DE UN CONJUNTO
CON1 = {1,2,3}
CON2 = CON1.copy()

CON2.clear()

print(CON1)
print(CON2)

{1, 2, 3}
set()

In [34]:
#CONVERTIR LISTA A CONJUNTO
LISTA1 = [0,2,3,3,3,3,1]
CON1 = set(LISTA1)
CON1

{0, 1, 2, 3}

In [35]:
#CONVERTIR CADENA A CONJUNTO
CADENA = "HOLA MUNDO 2021 XYZ"
CON1 = set(CADENA)
CON1

{' ', '0', '1', '2', 'A', 'D', 'H', 'L', 'M', 'N', 'O', 'U', 'X', 'Y', 'Z'}

In [36]:
#COMPARACIÓN DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#ISDISJOINT --> SI NO COMPARTEN ELEMENTOS
print(CON1.isdisjoint(CON2))
print(CON1.isdisjoint(CON3))

True
False

In [37]:
#COMPARACIÓN DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#ISSUBSET --> VERIFICA SI ES SUBCONJUNTO
print(CON3.issubset(CON1))
print(CON4.issubset(CON1))

False
True

In [38]:
#COMPARACIÓN DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#ISSUPERSET --> VERIFICA SI ES SUPERCONJUNTO
print(CON1.issuperset(CON3))
print(CON1.issuperset(CON4))

False
True

In [39]:
#OPERACIONES DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#UNION --> UNE 2 CONJUNTOS
print(CON1.union(CON2))
print(CON3.union(CON4))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7}

In [40]:
#OPERACIONES DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#INTESERCTION --> INTERSECCIÓN DE 2 CONJUNTOS
print(CON1.intersection(CON3))
print(CON1.intersection(CON4))

{5}
{1, 2, 3}

In [41]:
#OPERACIONES DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#DIFFERENCE --> DIFERENCIA DE 2 CONJUNTOS
print(CON1.difference(CON3)) # C1 - C3
print(CON3.difference(CON1)) # C3 - C1

{1, 2, 3, 4}
{6, 7}

In [42]:
#OPERACIONES DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#SYMMETRIC_DIFFERENCE --> DIFERENCIA SIMÉTRICA DE 2 CONJUNTOS
print(CON1.symmetric_difference(CON3)) 
print(CON3.symmetric_difference(CON1))

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 6, 7}

## PARTE 4.4: DICCIONARIOS

* Es una colección de datos que puede modificarse
* No permite tener elementos repetidos
* Permite almacenar distintos tipos de datos 
* Cada elemento tiene una llave asociado a un valor (llaves deben ser únicas)
* Colocar los elementos entre { } , separados de por comas y dos puntos entre llave/valor

In [43]:
#DICCIONARIO >>> LLAVE : VALOR
ANIMALES = {"PERRO":"DOG" , "GATO":"CAT" , "ZORRO":"FOX" , "TORO":"BULL"}
EDADES = {"BENJAMIN":27 , "RICARDO":60 , "NORMA":90 , "JUAN":25}
EJEMPLO_DICT = {"A1":True , "A2":False , "A3":False , "A4":True}

In [44]:
#AGREGAR ELEMENTOS
ANIMALES["VACA"] = "COW"
#ANIMALES["PERRO"] = "DOGX"
ANIMALES

{'PERRO': 'DOG', 'GATO': 'CAT', 'ZORRO': 'FOX', 'TORO': 'BULL', 'VACA': 'COW'}

In [45]:
#ACCEDER AL VALOR DE UN DICCIONARIO
print(ANIMALES["GATO"])
#print(ANIMALES["CABALLO"])

CAT

In [46]:
#ACCEDER A LAS LLAVES DE UN DICCIONARIO
for X in ANIMALES:
    print(X)

PERRO
GATO
ZORRO
TORO
VACA

In [47]:
#ACCEDER A LOS VALORES DE UN DICCIONARIO
for X in ANIMALES:
    print(ANIMALES[X])

DOG
CAT
FOX
BULL
COW

In [48]:
for LLAVE,VALOR in ANIMALES.items():
    print(LLAVE , "---", VALOR)

PERRO --- DOG
GATO --- CAT
ZORRO --- FOX
TORO --- BULL
VACA --- COW

In [49]:
for X in ANIMALES:
    print(X , "---", ANIMALES[X])

PERRO --- DOG
GATO --- CAT
ZORRO --- FOX
TORO --- BULL
VACA --- COW

In [50]:
#DEL --> ELIMINAR REGISTRO DE DICCIONARIO
print(ANIMALES)
del(ANIMALES["PERRO"])
print(ANIMALES)

{'PERRO': 'DOG', 'GATO': 'CAT', 'ZORRO': 'FOX', 'TORO': 'BULL', 'VACA': 'COW'}
{'GATO': 'CAT', 'ZORRO': 'FOX', 'TORO': 'BULL', 'VACA': 'COW'}

In [51]:
#GET --> OBTENER EL VALOR
print(ANIMALES.get("GATO","NO ESTÁ DICHA LLAVE"))
print(ANIMALES.get("PERRO","NO ESTÁ DICHA LLAVE"))

CAT
NO ESTÁ DICHA LLAVE

In [52]:
#KEYS --> ACCESO A LLAVES
ANIMALES.keys()

dict_keys(['GATO', 'ZORRO', 'TORO', 'VACA'])

In [53]:
#VALUES --> ACCESO A VALORES
ANIMALES.values()

dict_values(['CAT', 'FOX', 'BULL', 'COW'])

In [54]:
#ITEMS --> ACCESO A LLAVES Y VALORES
ANIMALES.items()

dict_items([('GATO', 'CAT'), ('ZORRO', 'FOX'), ('TORO', 'BULL'), ('VACA', 'COW')])

In [55]:
#CLEAR --> ELIMINA TODOS LOS REGISTROS
ANIMALES.clear()

In [79]:
#DEFAULT DICT --> DICCIONARIO CON VALORES POR DEFECTO
from collections import defaultdict

ANIMALES_DEFAULT = {}
ANIMALES_DEFAULT = defaultdict(float)  #str   int   float

ANIMALES_DEFAULT["GATO"] = "CAT"
ANIMALES_DEFAULT["PERRO"] = "DOG"

ANIMALES_DEFAULT["CABALLO"]

0.0

In [80]:
ANIMALES_DEFAULT

defaultdict(float, {'GATO': 'CAT', 'PERRO': 'DOG', 'CABALLO': 0.0})

## PARTE 4.5: DATASET

* Es la colección de datos más versátil que tiene Python
* Permite tener elementos repetidos
* Permite almacenar distintos tipos de datos
* Cada elemento se registra por filas
* Se debe utilizar el paquete pandas para definirlo
* SERÁ TU MEJOR AMIGO

In [60]:
import pandas as pd
RUTA = "C:/Users/BENJAMIN/CERTIFICACION PYTHON/EJEMPLO DATASET.csv"
DATASET = pd.read_csv(RUTA)

In [61]:
DATASET

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

## PARTE 4.6: PAQUETE COLLECTIONS

In [63]:
LISTA = [1,1,1,1,1,2,2,2,2,3,3,3,4,5]
PALABRA = "PYTHON2021"
TEXTO = "PYTHON PYTHON PYTHON PYTHON PYTHON HOLA HOLA CHAU"

In [64]:
from collections import Counter

In [73]:
#CONTEO EN UNA LISTA
print(Counter(LISTA))
print(Counter(LISTA).most_common(2))

Counter({1: 5, 2: 4, 3: 3, 4: 1, 5: 1})
[(1, 5), (2, 4)]

In [74]:
#CONTEO EN UNA CADENA
print(Counter(PALABRA))
print(Counter(PALABRA).most_common(2))

Counter({'2': 2, 'P': 1, 'Y': 1, 'T': 1, 'H': 1, 'O': 1, 'N': 1, '0': 1, '1': 1})
[('2', 2), ('P', 1)]

In [75]:
#CONTEO EN UN TEXTO
print(Counter(TEXTO))
print(Counter(TEXTO).most_common(2))

Counter({'H': 8, 'O': 7, ' ': 7, 'P': 5, 'Y': 5, 'T': 5, 'N': 5, 'A': 3, 'L': 2, 'C': 1, 'U': 1})
[('H', 8), ('O', 7)]

In [76]:
#CONTEO EN UN TEXTO
print(Counter(TEXTO.split()))
print(Counter(TEXTO.split()).most_common(2))

Counter({'PYTHON': 5, 'HOLA': 2, 'CHAU': 1})
[('PYTHON', 5), ('HOLA', 2)]